body {
background: #1DB954;
background: -moz-linear-gradient(-45deg, #1DB954 0%, #3389B9 100%, #C59237 100%);
background: -webkit-linear-gradient(-45deg, #1DB954 0%, #3389B9 100%, #C59237 100%);
background: linear-gradient(135deg, #1DB954 0%, #3389B9 100%, #C59237 100%);
}
